.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
  margin: ;
}
.border {
  font-weight: bolder;
  border: solid;
  border-width: 2px;
  background-color: lightgray;
}
.padding {
  padding-left: 10px;
}
